@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.balance-badge {
  @apply flex justify-center absolute right-8 p-2 pt-4 -z-10 rounded-lg text-sm font-medium transition-transform bg-red-300;
  top: calc(100% - 0.5rem);
  z-index: -1;
  transform: translateY(calc(-100% + 15px));
}
.balance-badge:hover {
  transform: none;
}

.transaction-list {
  @apply flex-1 overflow-y-auto flex flex-col gap-4 bg-zinc-50 rounded-t-xl p-4;
}
.transaction-list::-webkit-scrollbar {
  width: 5px;
}
.transaction-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.transaction-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
